.search-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #8d9095;
  border-radius: 4px;
  padding: 4px 4px 4px 8px;
  margin-bottom: 16px;
  height: 48px;

  &:focus-within {
    border-color: #3e75cf;
    box-shadow: 0 0 0 1px #3e75cf, 0 0 0 4px #d8e3f5;
  }

  &__input {
    height: 32px;
    flex: 1;
    border: none;

    &:focus {
      outline: 0;
    }
  }
  &__clear,
  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    > svg {
      height: 1rem;
      width: 1rem;
      fill: #55585d;
    }
  }
}
fieldset {
  border: 0;
}
